*.iml
E02_Calculator/.gradle
/local.properties
/E02_Calculator/.idea/caches
/E02_Calculator/.idea/libraries
/E02_Calculator/.idea/modules.xml
/E02_Calculator/.idea/workspace.xml
/E02_Calculator/.idea/navEditor.xml
/E02_Calculator/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
